USE [CSDLThiTracNghiem]
GO
/****** Object:  UserDefinedFunction [dbo].[UDF_KIEMTRA]    Script Date: 10/31/2021 5:51:10 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE FUNCTION [dbo].[UDF_KIEMTRA](@MAMH NCHAR(10), @SOCAUTHI INT, @TRINHDO NVARCHAR(3))
RETURNS INT
AS
BEGIN
	DECLARE @TRINHDODUOI NVARCHAR(3), @GT INT
	SELECT @TRINHDODUOI = 
	CASE @TRINHDO
	WHEN 'VB2' THEN N'ĐH'
	ELSE N'CĐ'
	END
	SELECT @GT = COUNT(*) 
	FROM 
	(SELECT ID FROM CHUONG WITH(INDEX=IX_MAMH) WHERE MAMH = @MAMH) C 
	INNER JOIN 
	(SELECT * FROM CAUHOI CH WITH(INDEX=IX_TRINHDO) 
	WHERE CH.TRINHDO = @TRINHDO OR CH.TRINHDO = @TRINHDODUOI) CH
	ON C.ID = CH.IDCHUONG
	--WHERE (CH.TRINHDO = @TRINHDO OR CH.TRINHDO = @TRINHDODUOI)
	SELECT @GT =
	CASE 
	WHEN @GT >= @SOCAUTHI THEN 0
	ELSE @GT - @SOCAUTHI
	END
	RETURN @GT
END
GO
/****** Object:  Table [dbo].[CAUHOI]    Script Date: 10/31/2021 5:51:10 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[CAUHOI](
	[ID] [int] IDENTITY(1,1) NOT NULL,
	[HINHTHUC] [nvarchar](13) NOT NULL CONSTRAINT [DF_CAUHOI_HINHTHUC]  DEFAULT (N'CHỌN 1 ĐÁP ÁN'),
	[NOIDUNG] [nvarchar](max) NOT NULL,
	[DAPANDUNG] [nvarchar](max) NOT NULL,
	[TRINHDO] [nvarchar](3) NOT NULL,
	[IDCHUONG] [int] NOT NULL,
	[MAGV] [nchar](10) NOT NULL,
 CONSTRAINT [PK_ID] PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]

GO
/****** Object:  Table [dbo].[CHUONG]    Script Date: 10/31/2021 5:51:10 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[CHUONG](
	[ID] [int] IDENTITY(1,1) NOT NULL,
	[CHUONG] [int] NOT NULL CONSTRAINT [DF_CHUONG_CHUONG]  DEFAULT ((1)),
	[TENCHUONG] [nvarchar](100) NOT NULL,
	[MAMH] [nchar](10) NOT NULL,
 CONSTRAINT [PK_CHUONG] PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
/****** Object:  Table [dbo].[CTBAITHI]    Script Date: 10/31/2021 5:51:10 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[CTBAITHI](
	[IDTHI] [int] NOT NULL,
	[IDCH] [int] NOT NULL,
	[DAPANSV] [nvarchar](max) NULL,
 CONSTRAINT [PK_CTBAITHI] PRIMARY KEY CLUSTERED 
(
	[IDTHI] ASC,
	[IDCH] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]

GO
/****** Object:  Table [dbo].[CTDKCHUONG]    Script Date: 10/31/2021 5:51:10 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[CTDKCHUONG](
	[IDDK] [int] NOT NULL,
	[IDCHUONG] [int] NOT NULL,
	[SOCAU] [int] NOT NULL,
 CONSTRAINT [PK_CTDKTHI] PRIMARY KEY CLUSTERED 
(
	[IDDK] ASC,
	[IDCHUONG] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
/****** Object:  Table [dbo].[DKTHI]    Script Date: 10/31/2021 5:51:10 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[DKTHI](
	[IDDK] [int] IDENTITY(1,1) NOT NULL,
	[MALOP] [nchar](10) NOT NULL,
	[MAMH] [nchar](10) NOT NULL,
	[LANTHI] [int] NOT NULL CONSTRAINT [DF_DKTHI_LANTHI]  DEFAULT ((1)),
	[MAGV] [nchar](10) NOT NULL,
	[MANV] [nchar](10) NOT NULL,
	[NGAYTHI] [date] NOT NULL CONSTRAINT [DF_DKTHI_NGAYTHI]  DEFAULT (getdate()),
	[SOCAU] [int] NOT NULL CONSTRAINT [DF_DKTHI_SOCAU]  DEFAULT ((1)),
	[TRINHDO] [nvarchar](3) NOT NULL,
 CONSTRAINT [PK_DKTHI] PRIMARY KEY CLUSTERED 
(
	[MALOP] ASC,
	[MAMH] ASC,
	[LANTHI] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
/****** Object:  Table [dbo].[GIANGVIEN]    Script Date: 10/31/2021 5:51:10 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[GIANGVIEN](
	[MAGV] [nchar](10) NOT NULL,
	[HOTEN] [nvarchar](50) NOT NULL,
	[PHAI] [nvarchar](3) NULL CONSTRAINT [DF_GIANGVIEN_PHAI]  DEFAULT ('Nam'),
	[HOCVI] [nvarchar](7) NOT NULL CONSTRAINT [DF_GIANGVIEN_HOCVI]  DEFAULT (N'THẠC SĨ'),
	[HOCHAM] [nvarchar](11) NULL CONSTRAINT [DF_GIANGVIEN_HOCHAM]  DEFAULT (N'Không'),
	[CHUYENMON] [nvarchar](40) NOT NULL,
	[MAKHOA] [nchar](10) NOT NULL,
 CONSTRAINT [PK_MAGV] PRIMARY KEY CLUSTERED 
(
	[MAGV] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
/****** Object:  Table [dbo].[KHOA]    Script Date: 10/31/2021 5:51:10 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[KHOA](
	[MAKHOA] [nchar](10) NOT NULL,
	[TENKHOA] [nvarchar](50) NOT NULL,
 CONSTRAINT [PK_MAKHOA] PRIMARY KEY CLUSTERED 
(
	[MAKHOA] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
/****** Object:  Table [dbo].[LOP]    Script Date: 10/31/2021 5:51:10 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[LOP](
	[MALOP] [nchar](10) NOT NULL,
	[TENLOP] [nvarchar](50) NOT NULL,
	[NAMNHAPHOC] [int] NOT NULL CONSTRAINT [DF_LOP_NAMNHAPHOC]  DEFAULT (datepart(year,getdate())),
	[MAKHOA] [nchar](10) NOT NULL,
 CONSTRAINT [PK_LOP] PRIMARY KEY CLUSTERED 
(
	[MALOP] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
/****** Object:  Table [dbo].[LUACHON]    Script Date: 10/31/2021 5:51:10 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[LUACHON](
	[ID] [int] IDENTITY(1,1) NOT NULL,
	[NOIDUNG] [nvarchar](max) NOT NULL,
	[IDCH] [int] NOT NULL,
 CONSTRAINT [PK_MALC] PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]

GO
/****** Object:  Table [dbo].[MONHOC]    Script Date: 10/31/2021 5:51:10 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[MONHOC](
	[MAMH] [nchar](10) NOT NULL,
	[TENMH] [nvarchar](50) NOT NULL,
	[SOTIETLT] [int] NOT NULL CONSTRAINT [DF_MONHOC_SOTIETLT]  DEFAULT ((45)),
	[SOTIETTH] [int] NOT NULL CONSTRAINT [DF_MONHOC_SOTIETTH]  DEFAULT ((0)),
 CONSTRAINT [PK_MAMH] PRIMARY KEY CLUSTERED 
(
	[MAMH] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
/****** Object:  Table [dbo].[NHANVIEN]    Script Date: 10/31/2021 5:51:10 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[NHANVIEN](
	[MANV] [nchar](10) NOT NULL,
	[HOTEN] [nvarchar](50) NOT NULL,
	[PHAI] [nvarchar](3) NULL CONSTRAINT [DF_NHANVIEN_GIOITINH]  DEFAULT ('NAM'),
	[NGAYSINH] [date] NOT NULL,
 CONSTRAINT [PK_NHANVIEN] PRIMARY KEY CLUSTERED 
(
	[MANV] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
/****** Object:  Table [dbo].[SINHVIEN]    Script Date: 10/31/2021 5:51:10 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[SINHVIEN](
	[MASV] [nchar](10) NOT NULL,
	[HO] [nvarchar](40) NOT NULL,
	[TEN] [nvarchar](10) NOT NULL,
	[PHAI] [nvarchar](3) NULL CONSTRAINT [DF_SINHVIEN_PHAI]  DEFAULT ('NAM'),
	[DIACHI] [nvarchar](100) NULL,
	[NGAYSINH] [date] NOT NULL,
	[MALOP] [nchar](10) NOT NULL,
 CONSTRAINT [PK_SINHVIEN] PRIMARY KEY CLUSTERED 
(
	[MASV] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
/****** Object:  Table [dbo].[THI]    Script Date: 10/31/2021 5:51:10 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[THI](
	[IDTHI] [int] IDENTITY(1,1) NOT NULL,
	[MASV] [nchar](10) NOT NULL,
	[IDDK] [int] NOT NULL,
	[DIEM] [float] NOT NULL,
 CONSTRAINT [PK_THI] PRIMARY KEY CLUSTERED 
(
	[MASV] ASC,
	[IDDK] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
SET IDENTITY_INSERT [dbo].[CAUHOI] ON 

INSERT [dbo].[CAUHOI] ([ID], [HINHTHUC], [NOIDUNG], [DAPANDUNG], [TRINHDO], [IDCHUONG], [MAGV]) VALUES (4, N'CHỌN 1 ĐÁP ÁN', N'Nguyên nhân cơ bản nào dẫn đến sự ra đời của mạng máy tính?', N'Cả ba câu trên đúng', N'ĐH', 1, N'GV1       ')
INSERT [dbo].[CAUHOI] ([ID], [HINHTHUC], [NOIDUNG], [DAPANDUNG], [TRINHDO], [IDCHUONG], [MAGV]) VALUES (5, N'CHỌN 1 ĐÁP ÁN', N'Ý nghĩa cỡ bản nhất của mạng máy tính là gì?', N'Trao đổi và chia sẻ thông tin', N'ĐH', 1, N'GV1       ')
INSERT [dbo].[CAUHOI] ([ID], [HINHTHUC], [NOIDUNG], [DAPANDUNG], [TRINHDO], [IDCHUONG], [MAGV]) VALUES (7, N'CHỌN 1 ĐÁP ÁN', N'Thuật ngữ viết tắt bằng tiếng Anh của mạng cục bộ là gì?', N'LAN', N'ĐH', 1, N'GV1       ')
SET IDENTITY_INSERT [dbo].[CAUHOI] OFF
SET IDENTITY_INSERT [dbo].[CHUONG] ON 

INSERT [dbo].[CHUONG] ([ID], [CHUONG], [TENCHUONG], [MAMH]) VALUES (1, 1, N'Khái niệm về mạng máy tính', N'MH2       ')
INSERT [dbo].[CHUONG] ([ID], [CHUONG], [TENCHUONG], [MAMH]) VALUES (2, 2, N'Kiến trúc mạng và mô hình kết nối các hệ thống mở OSI', N'MH2       ')
INSERT [dbo].[CHUONG] ([ID], [CHUONG], [TENCHUONG], [MAMH]) VALUES (3, 3, N'Mạng Internet và giao thức TCP/IPV4', N'MH2       ')
SET IDENTITY_INSERT [dbo].[CHUONG] OFF
SET IDENTITY_INSERT [dbo].[DKTHI] ON 

INSERT [dbo].[DKTHI] ([IDDK], [MALOP], [MAMH], [LANTHI], [MAGV], [MANV], [NGAYTHI], [SOCAU], [TRINHDO]) VALUES (3, N'D19CQAT01 ', N'MH1       ', 1, N'GV2       ', N'NV1       ', CAST(N'2021-11-20' AS Date), 29, N'ĐH')
INSERT [dbo].[DKTHI] ([IDDK], [MALOP], [MAMH], [LANTHI], [MAGV], [MANV], [NGAYTHI], [SOCAU], [TRINHDO]) VALUES (2, N'D19CQCN01 ', N'MH1       ', 1, N'GV2       ', N'NV1       ', CAST(N'2021-11-19' AS Date), 20, N'ĐH')
SET IDENTITY_INSERT [dbo].[DKTHI] OFF
INSERT [dbo].[GIANGVIEN] ([MAGV], [HOTEN], [PHAI], [HOCVI], [HOCHAM], [CHUYENMON], [MAKHOA]) VALUES (N'GV1       ', N'Mai Anh Đào', N'Nữ', N'Tiến sĩ', N'Phó giáo sư', N'An toàn thông tin', N'ATTT      ')
INSERT [dbo].[GIANGVIEN] ([MAGV], [HOTEN], [PHAI], [HOCVI], [HOCHAM], [CHUYENMON], [MAKHOA]) VALUES (N'GV2       ', N'Nguyễn Thái Tường', N'Nam', N'Thạc sĩ', N'Không', N'Công nghệ thông tin', N'CNTT      ')
INSERT [dbo].[GIANGVIEN] ([MAGV], [HOTEN], [PHAI], [HOCVI], [HOCHAM], [CHUYENMON], [MAKHOA]) VALUES (N'GV3       ', N'Trần Anh Dũng', N'Nam', N'Tiến sĩ', N'GIáo sư', N'An toàn thông tin', N'ATTT      ')
INSERT [dbo].[KHOA] ([MAKHOA], [TENKHOA]) VALUES (N'ATTT      ', N'An toàn thông tin')
INSERT [dbo].[KHOA] ([MAKHOA], [TENKHOA]) VALUES (N'CNTT      ', N'Công nghệ thông tin')
INSERT [dbo].[LOP] ([MALOP], [TENLOP], [NAMNHAPHOC], [MAKHOA]) VALUES (N'D19CQAT01 ', N'An toàn thông tin 1 khoá 2019', 2019, N'ATTT      ')
INSERT [dbo].[LOP] ([MALOP], [TENLOP], [NAMNHAPHOC], [MAKHOA]) VALUES (N'D19CQCN01 ', N'Công nghệ thông tin 1 khoá 2019 ', 2019, N'CNTT      ')
SET IDENTITY_INSERT [dbo].[LUACHON] ON 

INSERT [dbo].[LUACHON] ([ID], [NOIDUNG], [IDCH]) VALUES (1, N'Nhu cầu trao đổi thông tin ngày càng tăng', 4)
INSERT [dbo].[LUACHON] ([ID], [NOIDUNG], [IDCH]) VALUES (3, N'Khối lượng thông tin lưu trên máy tính ngày càng tăng', 4)
INSERT [dbo].[LUACHON] ([ID], [NOIDUNG], [IDCH]) VALUES (4, N'Khoa học và công nghệ và lĩnh vực máy tính và truyền thông phát triển', 4)
SET IDENTITY_INSERT [dbo].[LUACHON] OFF
INSERT [dbo].[MONHOC] ([MAMH], [TENMH], [SOTIETLT], [SOTIETTH]) VALUES (N'MH1       ', N'Cấu trúc dữ liệu', 40, 8)
INSERT [dbo].[MONHOC] ([MAMH], [TENMH], [SOTIETLT], [SOTIETTH]) VALUES (N'MH2       ', N'Mạng máy tính', 40, 6)
INSERT [dbo].[NHANVIEN] ([MANV], [HOTEN], [PHAI], [NGAYSINH]) VALUES (N'NV1       ', N'Nguyễn Sơn Hào', N'Nam', CAST(N'1980-03-25' AS Date))
INSERT [dbo].[NHANVIEN] ([MANV], [HOTEN], [PHAI], [NGAYSINH]) VALUES (N'NV2       ', N'Trần Trọng Nghĩa', N'Nam', CAST(N'1982-03-20' AS Date))
INSERT [dbo].[NHANVIEN] ([MANV], [HOTEN], [PHAI], [NGAYSINH]) VALUES (N'NV3       ', N'Lê Bá Toàn', N'Nam', CAST(N'1985-03-10' AS Date))
INSERT [dbo].[SINHVIEN] ([MASV], [HO], [TEN], [PHAI], [DIACHI], [NGAYSINH], [MALOP]) VALUES (N'N19DCAT004', N'Huỳnh Nhật Huy                          ', N'Bảo', N'NAM', NULL, CAST(N'2001-03-13' AS Date), N'D19CQAT01 ')
INSERT [dbo].[SINHVIEN] ([MASV], [HO], [TEN], [PHAI], [DIACHI], [NGAYSINH], [MALOP]) VALUES (N'N19DCAT008', N'Nguyễn Thành                            ', N'Băng', N'NAM', NULL, CAST(N'2001-03-12' AS Date), N'D19CQAT01 ')
INSERT [dbo].[SINHVIEN] ([MASV], [HO], [TEN], [PHAI], [DIACHI], [NGAYSINH], [MALOP]) VALUES (N'N19DCAT010', N'Trần Đình                               ', N'Chiến', N'NAM', NULL, CAST(N'2001-03-12' AS Date), N'D19CQAT01 ')
SET IDENTITY_INSERT [dbo].[THI] ON 

INSERT [dbo].[THI] ([IDTHI], [MASV], [IDDK], [DIEM]) VALUES (1, N'N19DCAT064', 3, 7.8)
INSERT [dbo].[THI] ([IDTHI], [MASV], [IDDK], [DIEM]) VALUES (2, N'N19DCCN072', 2, 8.2)
SET IDENTITY_INSERT [dbo].[THI] OFF
SET ANSI_PADDING ON

GO
/****** Object:  Index [UK_TENCHUONG]    Script Date: 10/31/2021 5:51:10 PM ******/
ALTER TABLE [dbo].[CHUONG] ADD  CONSTRAINT [UK_TENCHUONG] UNIQUE NONCLUSTERED 
(
	[TENCHUONG] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
GO
/****** Object:  Index [UK_IDDK]    Script Date: 10/31/2021 5:51:10 PM ******/
ALTER TABLE [dbo].[DKTHI] ADD  CONSTRAINT [UK_IDDK] UNIQUE NONCLUSTERED 
(
	[IDDK] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
GO
SET ANSI_PADDING ON

GO
/****** Object:  Index [UK_TENKHOA]    Script Date: 10/31/2021 5:51:10 PM ******/
ALTER TABLE [dbo].[KHOA] ADD  CONSTRAINT [UK_TENKHOA] UNIQUE NONCLUSTERED 
(
	[TENKHOA] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
GO
SET ANSI_PADDING ON

GO
/****** Object:  Index [UK_TENLOP]    Script Date: 10/31/2021 5:51:10 PM ******/
ALTER TABLE [dbo].[LOP] ADD  CONSTRAINT [UK_TENLOP] UNIQUE NONCLUSTERED 
(
	[TENLOP] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
GO
SET ANSI_PADDING ON

GO
/****** Object:  Index [UK_TENMH]    Script Date: 10/31/2021 5:51:10 PM ******/
ALTER TABLE [dbo].[MONHOC] ADD  CONSTRAINT [UK_TENMH] UNIQUE NONCLUSTERED 
(
	[TENMH] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
GO
/****** Object:  Index [UK_IDTHI]    Script Date: 10/31/2021 5:51:10 PM ******/
ALTER TABLE [dbo].[THI] ADD  CONSTRAINT [UK_IDTHI] UNIQUE NONCLUSTERED 
(
	[IDTHI] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
GO
ALTER TABLE [dbo].[CTDKCHUONG] ADD  CONSTRAINT [DF_CTDKCHUONG_IDCHUONG]  DEFAULT ((1)) FOR [IDCHUONG]
GO
ALTER TABLE [dbo].[CTDKCHUONG] ADD  CONSTRAINT [DF_CTDKCHUONG_SOCAU]  DEFAULT ((1)) FOR [SOCAU]
GO
ALTER TABLE [dbo].[CAUHOI]  WITH CHECK ADD  CONSTRAINT [FK_CAUHOI_CHUONG] FOREIGN KEY([IDCHUONG])
REFERENCES [dbo].[CHUONG] ([ID])
ON UPDATE CASCADE
GO
ALTER TABLE [dbo].[CAUHOI] CHECK CONSTRAINT [FK_CAUHOI_CHUONG]
GO
ALTER TABLE [dbo].[CAUHOI]  WITH CHECK ADD  CONSTRAINT [FK_CAUHOI_GIANGVIEN] FOREIGN KEY([MAGV])
REFERENCES [dbo].[GIANGVIEN] ([MAGV])
ON UPDATE CASCADE
GO
ALTER TABLE [dbo].[CAUHOI] CHECK CONSTRAINT [FK_CAUHOI_GIANGVIEN]
GO
ALTER TABLE [dbo].[CHUONG]  WITH CHECK ADD  CONSTRAINT [FK_CHUONG_MONHOC] FOREIGN KEY([MAMH])
REFERENCES [dbo].[MONHOC] ([MAMH])
ON UPDATE CASCADE
GO
ALTER TABLE [dbo].[CHUONG] CHECK CONSTRAINT [FK_CHUONG_MONHOC]
GO
ALTER TABLE [dbo].[CTBAITHI]  WITH CHECK ADD  CONSTRAINT [FK_CTBAITHI_CAUHOI] FOREIGN KEY([IDCH])
REFERENCES [dbo].[CAUHOI] ([ID])
ON UPDATE CASCADE
GO
ALTER TABLE [dbo].[CTBAITHI] CHECK CONSTRAINT [FK_CTBAITHI_CAUHOI]
GO
ALTER TABLE [dbo].[CTBAITHI]  WITH CHECK ADD  CONSTRAINT [FK_CTBAITHI_THI] FOREIGN KEY([IDTHI])
REFERENCES [dbo].[THI] ([IDTHI])
ON UPDATE CASCADE
GO
ALTER TABLE [dbo].[CTBAITHI] CHECK CONSTRAINT [FK_CTBAITHI_THI]
GO
ALTER TABLE [dbo].[CTDKCHUONG]  WITH CHECK ADD  CONSTRAINT [FK_CTDKCHUONG_CHUONG] FOREIGN KEY([IDCHUONG])
REFERENCES [dbo].[CHUONG] ([ID])
ON UPDATE CASCADE
GO
ALTER TABLE [dbo].[CTDKCHUONG] CHECK CONSTRAINT [FK_CTDKCHUONG_CHUONG]
GO
ALTER TABLE [dbo].[CTDKCHUONG]  WITH CHECK ADD  CONSTRAINT [FK_CTDKTHI_DKTHI] FOREIGN KEY([IDDK])
REFERENCES [dbo].[DKTHI] ([IDDK])
GO
ALTER TABLE [dbo].[CTDKCHUONG] CHECK CONSTRAINT [FK_CTDKTHI_DKTHI]
GO
ALTER TABLE [dbo].[DKTHI]  WITH CHECK ADD  CONSTRAINT [FK_DKTHI_GIANGVIEN] FOREIGN KEY([MAGV])
REFERENCES [dbo].[GIANGVIEN] ([MAGV])
ON UPDATE CASCADE
GO
ALTER TABLE [dbo].[DKTHI] CHECK CONSTRAINT [FK_DKTHI_GIANGVIEN]
GO
ALTER TABLE [dbo].[DKTHI]  WITH CHECK ADD  CONSTRAINT [FK_DKTHI_LOP] FOREIGN KEY([MALOP])
REFERENCES [dbo].[LOP] ([MALOP])
ON UPDATE CASCADE
GO
ALTER TABLE [dbo].[DKTHI] CHECK CONSTRAINT [FK_DKTHI_LOP]
GO
ALTER TABLE [dbo].[DKTHI]  WITH CHECK ADD  CONSTRAINT [FK_DKTHI_MONHOC] FOREIGN KEY([MAMH])
REFERENCES [dbo].[MONHOC] ([MAMH])
ON UPDATE CASCADE
GO
ALTER TABLE [dbo].[DKTHI] CHECK CONSTRAINT [FK_DKTHI_MONHOC]
GO
ALTER TABLE [dbo].[DKTHI]  WITH CHECK ADD  CONSTRAINT [FK_DKTHI_NHANVIEN] FOREIGN KEY([MANV])
REFERENCES [dbo].[NHANVIEN] ([MANV])
ON UPDATE CASCADE
GO
ALTER TABLE [dbo].[DKTHI] CHECK CONSTRAINT [FK_DKTHI_NHANVIEN]
GO
ALTER TABLE [dbo].[GIANGVIEN]  WITH CHECK ADD  CONSTRAINT [FK_GIANGVIEN_KHOA] FOREIGN KEY([MAKHOA])
REFERENCES [dbo].[KHOA] ([MAKHOA])
GO
ALTER TABLE [dbo].[GIANGVIEN] CHECK CONSTRAINT [FK_GIANGVIEN_KHOA]
GO
ALTER TABLE [dbo].[LOP]  WITH CHECK ADD  CONSTRAINT [FK_LOP_KHOA] FOREIGN KEY([MAKHOA])
REFERENCES [dbo].[KHOA] ([MAKHOA])
ON UPDATE CASCADE
GO
ALTER TABLE [dbo].[LOP] CHECK CONSTRAINT [FK_LOP_KHOA]
GO
ALTER TABLE [dbo].[LUACHON]  WITH CHECK ADD  CONSTRAINT [FK_LUACHON_CAUHOI] FOREIGN KEY([IDCH])
REFERENCES [dbo].[CAUHOI] ([ID])
ON UPDATE CASCADE
GO
ALTER TABLE [dbo].[LUACHON] CHECK CONSTRAINT [FK_LUACHON_CAUHOI]
GO
ALTER TABLE [dbo].[SINHVIEN]  WITH CHECK ADD  CONSTRAINT [FK_SINHVIEN_LOP] FOREIGN KEY([MALOP])
REFERENCES [dbo].[LOP] ([MALOP])
ON UPDATE CASCADE
GO
ALTER TABLE [dbo].[SINHVIEN] CHECK CONSTRAINT [FK_SINHVIEN_LOP]
GO
ALTER TABLE [dbo].[THI]  WITH CHECK ADD  CONSTRAINT [FK_THI_DKTHI] FOREIGN KEY([IDDK])
REFERENCES [dbo].[DKTHI] ([IDDK])
GO
ALTER TABLE [dbo].[THI] CHECK CONSTRAINT [FK_THI_DKTHI]
GO
ALTER TABLE [dbo].[THI]  WITH CHECK ADD  CONSTRAINT [FK_THI_SINHVIEN] FOREIGN KEY([MASV])
REFERENCES [dbo].[SINHVIEN] ([MASV])
ON UPDATE CASCADE
GO
ALTER TABLE [dbo].[THI] CHECK CONSTRAINT [FK_THI_SINHVIEN]
GO
ALTER TABLE [dbo].[CAUHOI]  WITH CHECK ADD  CONSTRAINT [CK_HINHTHUC] CHECK  (([HINHTHUC]='YES/NO' OR [HINHTHUC]=N'ĐIỀN KHUYẾT' OR [HINHTHUC]=N'CHỌN 1 ĐÁP ÁN'))
GO
ALTER TABLE [dbo].[CAUHOI] CHECK CONSTRAINT [CK_HINHTHUC]
GO
ALTER TABLE [dbo].[CAUHOI]  WITH CHECK ADD  CONSTRAINT [CK_IDCHUONG] CHECK  (([IDCHUONG]>=(1)))
GO
ALTER TABLE [dbo].[CAUHOI] CHECK CONSTRAINT [CK_IDCHUONG]
GO
ALTER TABLE [dbo].[CAUHOI]  WITH CHECK ADD  CONSTRAINT [CK_TRINHDOCH] CHECK  (([TRINHDO]=N'VB2' OR [TRINHDO]=N'CĐ' OR [TRINHDO]=N'ĐH'))
GO
ALTER TABLE [dbo].[CAUHOI] CHECK CONSTRAINT [CK_TRINHDOCH]
GO
ALTER TABLE [dbo].[CHUONG]  WITH CHECK ADD  CONSTRAINT [CK_CHUONG] CHECK  (([CHUONG]>=(1)))
GO
ALTER TABLE [dbo].[CHUONG] CHECK CONSTRAINT [CK_CHUONG]
GO
ALTER TABLE [dbo].[CTBAITHI]  WITH CHECK ADD  CONSTRAINT [CK_IDCHCT] CHECK  (([IDCH]>=(1)))
GO
ALTER TABLE [dbo].[CTBAITHI] CHECK CONSTRAINT [CK_IDCHCT]
GO
ALTER TABLE [dbo].[CTBAITHI]  WITH CHECK ADD  CONSTRAINT [CK_IDTHI] CHECK  (([IDTHI]>=(1)))
GO
ALTER TABLE [dbo].[CTBAITHI] CHECK CONSTRAINT [CK_IDTHI]
GO
ALTER TABLE [dbo].[CTDKCHUONG]  WITH CHECK ADD  CONSTRAINT [CK_IDCHUONGG] CHECK  (([IDCHUONG]>=(1)))
GO
ALTER TABLE [dbo].[CTDKCHUONG] CHECK CONSTRAINT [CK_IDCHUONGG]
GO
ALTER TABLE [dbo].[CTDKCHUONG]  WITH CHECK ADD  CONSTRAINT [CK_IDDKK] CHECK  (([IDDK]>=(1)))
GO
ALTER TABLE [dbo].[CTDKCHUONG] CHECK CONSTRAINT [CK_IDDKK]
GO
ALTER TABLE [dbo].[CTDKCHUONG]  WITH CHECK ADD  CONSTRAINT [CK_SOCAUU] CHECK  (([SOCAU]>=(0)))
GO
ALTER TABLE [dbo].[CTDKCHUONG] CHECK CONSTRAINT [CK_SOCAUU]
GO
ALTER TABLE [dbo].[DKTHI]  WITH CHECK ADD  CONSTRAINT [CK_LANTHI] CHECK  (([LANTHI]>=(1) AND [LANTHI]<=(2)))
GO
ALTER TABLE [dbo].[DKTHI] CHECK CONSTRAINT [CK_LANTHI]
GO
ALTER TABLE [dbo].[DKTHI]  WITH CHECK ADD  CONSTRAINT [CK_SOCAU] CHECK  (([SOCAU]>=(1)))
GO
ALTER TABLE [dbo].[DKTHI] CHECK CONSTRAINT [CK_SOCAU]
GO
ALTER TABLE [dbo].[DKTHI]  WITH CHECK ADD  CONSTRAINT [CK_TRINHDO] CHECK  (([TRINHDO]=N'CĐ' OR [TRINHDO]='VB2' OR [TRINHDO]=N'ĐH'))
GO
ALTER TABLE [dbo].[DKTHI] CHECK CONSTRAINT [CK_TRINHDO]
GO
ALTER TABLE [dbo].[GIANGVIEN]  WITH CHECK ADD  CONSTRAINT [CK_GIOITINH] CHECK  (([PHAI]=N'NỮ' OR [PHAI]='NAM'))
GO
ALTER TABLE [dbo].[GIANGVIEN] CHECK CONSTRAINT [CK_GIOITINH]
GO
ALTER TABLE [dbo].[GIANGVIEN]  WITH CHECK ADD  CONSTRAINT [CK_HOCHAM] CHECK  (([HOCHAM]=N'GIÁO SƯ' OR [HOCHAM]=N'PHÓ GIÁO SƯ' OR [HOCHAM]=N'KHÔNG'))
GO
ALTER TABLE [dbo].[GIANGVIEN] CHECK CONSTRAINT [CK_HOCHAM]
GO
ALTER TABLE [dbo].[GIANGVIEN]  WITH CHECK ADD  CONSTRAINT [CK_HOCVI] CHECK  (([HOCVI]=N'TIẾN SĨ' OR [HOCVI]=N'THẠC SĨ'))
GO
ALTER TABLE [dbo].[GIANGVIEN] CHECK CONSTRAINT [CK_HOCVI]
GO
ALTER TABLE [dbo].[LOP]  WITH CHECK ADD  CONSTRAINT [CK_NAMNHAPHOC] CHECK  (([NAMNHAPHOC]>=(2000)))
GO
ALTER TABLE [dbo].[LOP] CHECK CONSTRAINT [CK_NAMNHAPHOC]
GO
ALTER TABLE [dbo].[LUACHON]  WITH CHECK ADD  CONSTRAINT [CK_IDCH] CHECK  (([IDCH]>=(1)))
GO
ALTER TABLE [dbo].[LUACHON] CHECK CONSTRAINT [CK_IDCH]
GO
ALTER TABLE [dbo].[MONHOC]  WITH CHECK ADD  CONSTRAINT [CK_SOTIETLT] CHECK  (([SOTIETLT]>=(0) AND [SOTIETLT]<=(120)))
GO
ALTER TABLE [dbo].[MONHOC] CHECK CONSTRAINT [CK_SOTIETLT]
GO
ALTER TABLE [dbo].[MONHOC]  WITH CHECK ADD  CONSTRAINT [CK_SOTIETTH] CHECK  (([SOTIETTH]>=(0) AND [SOTIETTH]<=(120)))
GO
ALTER TABLE [dbo].[MONHOC] CHECK CONSTRAINT [CK_SOTIETTH]
GO
ALTER TABLE [dbo].[NHANVIEN]  WITH CHECK ADD  CONSTRAINT [CK_PHAI] CHECK  (([PHAI]=N'NỮ' OR [PHAI]='NAM'))
GO
ALTER TABLE [dbo].[NHANVIEN] CHECK CONSTRAINT [CK_PHAI]
GO
ALTER TABLE [dbo].[SINHVIEN]  WITH CHECK ADD  CONSTRAINT [CK_PHAII] CHECK  (([PHAI]=N'Nữ' OR [PHAI]='Nam'))
GO
ALTER TABLE [dbo].[SINHVIEN] CHECK CONSTRAINT [CK_PHAII]
GO
ALTER TABLE [dbo].[THI]  WITH CHECK ADD  CONSTRAINT [CK_DIEM] CHECK  (([DIEM]>=(0) AND [DIEM]<=(10)))
GO
ALTER TABLE [dbo].[THI] CHECK CONSTRAINT [CK_DIEM]
GO
ALTER TABLE [dbo].[THI]  WITH CHECK ADD  CONSTRAINT [CK_IDDK] CHECK  (([IDDK]>=(1)))
GO
ALTER TABLE [dbo].[THI] CHECK CONSTRAINT [CK_IDDK]
GO
/****** Object:  StoredProcedure [dbo].[SP_KIEMTRA]    Script Date: 10/31/2021 5:51:10 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROC [dbo].[SP_KIEMTRA]
@MAMH NCHAR(10), @SOCAUTHI INT, @TRINHDO NVARCHAR(3)
AS
BEGIN
	DECLARE @TRINHDODUOI NVARCHAR(3), @GT INT
	SELECT @TRINHDODUOI = 
	CASE @TRINHDO
	WHEN 'VB2' THEN N'ĐH'
	ELSE N'CĐ'
	END	
	SELECT TOP (@SOCAUTHI) CH.ID,CH.NOIDUNG, DAPANDUNG
	INTO #CH
	FROM (SELECT ID FROM CHUONG WITH(INDEX = IX_MAMH) WHERE MAMH = @MAMH) C 
	INNER JOIN 
	(SELECT * FROM CAUHOI CH WITH(INDEX = IX_TRINHDO)
	WHERE CH.TRINHDO = @TRINHDO OR CH.TRINHDO = @TRINHDODUOI) CH
	ON C.ID = CH.IDCHUONG
	ORDER BY NEWID()
	SELECT IDCH = #CH.ID, NOIDUNGCH = #CH.NOIDUNG, LUACHON = LC.NOIDUNG, 
	ID = 'LUA CHON ' + CAST(ROW_NUMBER() OVER 
	(PARTITION BY IDCH ORDER BY IDCH) AS NCHAR(2)),DAPAN = #CH.DAPANDUNG
	INTO #BT
	FROM #CH INNER JOIN LUACHON LC ON #CH.ID = LC.IDCH
	--SELECT * FROM #BT
	DECLARE @COLS NVARCHAR(MAX), @SQL NVARCHAR(MAX)
	DECLARE @S NVARCHAR(15) ='''LUA CHON '''
	--SELECT @S
	SELECT @COLS= COALESCE(@COLS + ',','') + QUOTENAME([LUACHON])
	FROM (SELECT DISTINCT LUACHON FROM 
	(SELECT  IDCH,NOIDUNGCH, LUACHON ='LUA CHON ' + 
	CAST(ROW_NUMBER() OVER (PARTITION BY IDCH ORDER BY IDCH) AS NCHAR(2)), #BT.DAPAN
	FROM #BT)AS T) AS T
	--SELECT @COLS
	--SELECT @COLS
	--SELECT @COLS
	SET @SQL = 
	'SELECT *
	INTO #BT2
	FROM
	(SELECT  IDCH,NOIDUNGCH, 
	LUACHON, DAPAN, ID ='+ @S 
	+ ' + CAST(ROW_NUMBER() OVER (PARTITION BY IDCH ORDER BY IDCH) AS NCHAR(2))
	FROM #BT) AS T
	PIVOT
	(
		MIN(LUACHON)
		FOR ID IN ('+@COLS+')
	) AS BANG
	SELECT IDCH, NOIDUNGCH,' + @COLS + ', DAPAN
	FROM #BT2'
	--PRINT @SQL
	EXEC sp_executesql @SQL
	--SELECT * FROM #BT2
	--
END
GO
